# [Data] 의료 데이터 및 이미지 (보안 및 용량 문제)
data/
fMRI_data/

# [Model] AI 엔진이 생성한 인덱스 파일 및 모델 가중치
model/*.npy

# [Python] 파이썬 실행 시 생성되는 캐시 및 가상환경
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/

# [OS] 운영체제 관련 임시 파일
.DS_Store
Thumbs.db

# [IDE] 에디터 설정 파일
.vscode/
.idea/